<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginControler</servlet-name>
        <servlet-class>pe.com.controler.LoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlarLogin</servlet-name>
        <servlet-class>pe.com.controler.ControlarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlarsalir</servlet-name>
        <servlet-class>pe.com.controler.Controlarsalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolControler</servlet-name>
        <servlet-class>pe.com.controler.RolControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraControler</servlet-name>
        <servlet-class>pe.com.controler.CarreraControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControler</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlarLogin</servlet-name>
        <url-pattern>/controllogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlarsalir</servlet-name>
        <url-pattern>/controlsalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolControler</servlet-name>
        <url-pattern>/rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraControler</servlet-name>
        <url-pattern>/carrera</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
